BODY, TR, TD, P, DIV, CENTER, UL, OL, DL, DD { font-size: 9pt; color: #000000; font-family: tahoma,arial,helvetica,geneva,sans-serif;}

A:LINK { text-decoration: none; color: #0066dd;}
A:VISITED { text-decoration: none; color: #0055cc;}
A:ACTIVE { text-decoration: none; color: #0099ff;}
A:HOVER { text-decoration: none; color: #0099ff;}

INPUT, SELECT, TEXTAREA {font-size: 12px; color: #004137; font-family: tahoma,arial,helvetica,geneva,sans-serif;}

p{margin-top:8px;margin-bottom:0px; text-indent:15px;}
li{margin-top:0px;margin-bottom:6px}
p,ol,ul{text-align:justify}
#black{color:#004137}
#green{color:#3D5066}
#white{color:#ffffff}
#yellow,ul,li{color:#FFB00F}

.menu {padding-left:7; color:white; font: normal 9pt Verdana; width:168; height:18; vertical-align:top; cursor:hand;}
a.m {color:33FFFF; text-decoration:none; width:168; height:18;}
a.m:visited {COLOR: 33FFFF; TEXT-DECORATION: none}
a.m:active  {COLOR: 33FFFF; TEXT-DECORATION: none}
a.m:hover   {COLOR: FFFFFF; TEXT-DECORATION: underline}
a.m1 {color:EDEDED; text-decoration:none; font-size: 8pt; font-family: tahoma,arial,helvetica,geneva,sans-serif; font-weight: bold;}
a.m1:visited {COLOR: EDEDED; TEXT-DECORATION: none}
a.m1:active  {COLOR: EDEDED; TEXT-DECORATION: none}
a.m1:hover   {COLOR: FFFFFF; TEXT-DECORATION: underline}
a.m2 {color:EDEDED; text-decoration:none; font-size: 9pt; font-family: tahoma,arial,helvetica,geneva,sans-serif; font-weight: bold; TEXT-DECORATION:underline}
a.m2:visited {COLOR: EDEDED; TEXT-DECORATION: underline}
a.m2:active  {COLOR: EDEDED; TEXT-DECORATION: underline}
a.m2:hover   {COLOR: FFFFFF; TEXT-DECORATION: underline}
.hed {padding-left:30; padding-right:30; color:white; font: normal bold 8pt Verdana; cursor:default;}
BIG { font-weight: bold; font-size: 10pt; color: #0A748A; font-family: tahoma,arial,helvetica,geneva,sans-serif;}
.btn {background-image:url('imgs/button.gif'); padding-left:5; padding-right:5; border:1 outset; font-size: 11px; font-family: tahoma,arial,helvetica,geneva,sans-serif; color:white;}
CODE {color:#990000;}
