.slttocNSI
{
	text-decoration: none;
	font-family: Tahoma;
	font-size: 11px;
	cursor: hand;
	white-space: nowrap;
}

.slttocNSI img
{
	margin-bottom: 2;
}

.slttocLoading 
{
	font-family: Tahoma;
	font-size: 11px;
	color: Gray;
}

/* Item class (normal state)  */

.slttocItem 
{
	cursor: hand;
}

/* Item label class (normal state)  */

.slttocItem #sltl
{
	font-family: Tahoma;
	font-size: 11px;
	cursor: hand;
}

/* Item class (active state) */

.slttocItema 
{
	cursor: hand;
}

/* Item label class (active state) */

.slttocItema #sltl
{
	cursor: hand;
	font-family: Tahoma;
	font-size: 11px;
	color: white;
	text-decoration: underline;
	background-color: #3169C6;
}

/* Item class (selected state) */

.slttocItems 
{
	cursor: hand;
}

/* Item label class (selected state) */

.slttocItems #sltl
{
	cursor: hand;
	font-family: Tahoma;
	/*font-weight: bold;*/
	font-size: 11px;
	background-color: #EFEBDE;
}

/* Item class (active+selected state) */

.slttocItemas 
{
	cursor: hand;
}

/* Item label class (active+selected state) */

.slttocItemas #sltl
{
	cursor: hand;
	font-family: Tahoma;
	font-size: 11px;
	color: white;
	/*font-weight: bold;*/
	text-decoration: underline;
	background-color: #3169C6;
}

/* NonSelectable item class */

.slttocItemn 
{
}

/* NonSelectable item label class */

.slttocItemn #sltl
{
	font-family: Tahoma;
	font-size: 11px;
}

/* Disabled item class */

.slttocItemd
{
}

/* Disabled item label class */

.slttocItemd #sltl
{
	font-family: Tahoma;
	font-size: 11px;
	color: silver;
}

/* Spacer class (empty) */

.slttocSpacer0 
{
	background-image: none;
}

/* Spacer class */

.slttocSpacer1 
{
	background-image: url(spacer1.gif);
	background-position: center center;
}

/* Spacer class */

.slttocSpacer2
{
	background-image: url(spacer2.gif);
	background-position: center center;
}

/* Spacer class */

.slttocSpacer3
{
	background-image: url(spacer3.gif);
	background-position: center center;
}

/* Knot class */

.slttocKnot2
{
	background-image: url(spacer2.gif);
	background-position: center center;
	cursor: hand;
}

/* Knot class */

.slttocKnot3
{
	background-image: url(spacer3.gif);
	background-position: center center;
	cursor: hand;
}

/* TreeLink placeholder class */

.slttocHolder 
{
}

/* TreeLink row class */

.slttocRow
{
	padding: 0;
}
